body {
  min-height: 100vh;
  background: linear-gradient(to left bottom, #c3bef0, #cca8e9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  min-height: 80vh;
  width: 75%;
  border-radius: 3rem;
  z-index: 2;
  backdrop-filter: blur(1.5rem);
}

.shadow-3d {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.background-object {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  position: absolute;
}

.circle {
  width: 200px;
  height: 200px;
  top: 5%;
  right: 10%;
  border-radius: 50%;
}
